<section id="post">
  <div class="jumbotron">
	<form action="/create" method="post">
    <p>
    Evento:
    <input type ="text" name="title" placeholder="Escribe el titulo del evento&hellip;">
    </p>
    <p>
    Fecha: 
    <input type="text" id="datepicker" name="date_event">
    </p>
    <p>
    Descripci&oacuten:
    </p>
    <p>
      <textarea name="content" placeholder="Descripcion&hellip;"></textarea>
    </p>
    <button type="submit" class="btn btn-lg btn-primary">Crear Evento</button>
	</form>
</div>
</section>