<section id="post">
	<form action="/" method "post">
		<textarea name="content" placeholder="you note&hellip;"></textarea>
		<input type="submit" value="Take Note!">
	</form>
</section>

<% # display notes %>
