<body>
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Invitaciones y eventos VIP.</h1>
            <p class="lead">Proyecto para poder crear eventos y hacer invitaciones mediante el evento. Cada invitacion tiene que ser unica y .</p>
            <p class="lead">
              <a href="/create" class="btn btn-lg btn-default">Crea un evento</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Creado por <a href="https://github.com/gonxi">Gonxi</a>, by <a href="http://devscola.org">@devscola</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
 </body>