<!doctype html>
<html lang="eng">
<head>
	<meta charset="utf8">
	<title><%= @title + ' | Recall' %></title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/">Recall</a></h1>
			<h2>'cause you´re too busy to rememeber</h2>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p><small>An app for <a href="http://klikaid.com">Klikaid.com</small>
	</footer>
</body>
</html>