<!doctype html>
<html lang="eng">
<head>
	<meta charset="utf8">
	<title><%= @title + ' | Recall' %></title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
	$(function() {
	$( "#datepicker" ).datepicker();
	});
	</script>
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/">Eventos VIP</a></h1>
			<h2>'Crea un evento y haz invitaciones VIP</h2>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p><small>An app for <a href="http://klikaid.com">Klikaid.com</small>
	</footer>
</body>
</html>