<div class="jumbotron">
	<form action="/settings" method="post" >
		<p>
		smtp:
		<input  type ="text" name="smtp"  >
	    </p>
	    <p>
		Port:
		<input  type ="text" name="port" >
	    </p>
	    <p>
		User:
		<input  type ="text" name="user_name" >
	    </p>
	    <p>
		Pass:
		<input  type ="password" name="password" >
	    </p>
	    <p>
		Auth:
		<input  type ="text" name="Auth" >
	    </p>
	    auto:
		<select name="auto" >
			<option value='1'> True</option>
			<option value='0'> False</option>
		</select >
	    </p>

		<button type="submit" class="btn btn-lg btn-success">Guardar</button>		
	</diV>
	</form>	




